fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
starlette==0.47.3
sqlalchemy==2.0.43
loguru==0.7.3
requests==2.32.5
overpy==0.7
geopy==2.4.1
argostranslate==1.9.6
streamlit==1.48.1
beautifulsoup4==4.13.4
Jinja2==3.1.6
ctranslate2==4.3.1

